body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(254, 119, 227);
}

.header_text {
    font-family: 'Jersey 10';
    font-size: 70px;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    animation: header_text 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
}


@keyframes header_text{
    0%
    {
        transform: translateY(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100%
    {
        transform: translateY(-50px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0  #851e1e,
                    0 2px 0  #851e1e,
                    0 3px 0  #851e1e,
                    0 4px 0  #851e1e,
                    0 5px 0  #851e1e,
                    0 6px 0  #851e1e,
                    0 7px 0  #851e1e,
                    0 8px 0  #851e1e,
                    0 9px 0  #851e1e,
                    0 50px 39px  rgba(0, 0, 0, 0.3),
    }
}