body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(254, 119, 227);
}

#noButton {
    position: absolute;
    margin-left: 170px;
    margin-top: 90px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 170px;
    margin-top: 90px;
}

.header_text {
    font-family: 'Jersey 10';
    font-size: 70px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
}

.btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 30px 64px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


@media only screen and (max-width: 320px) and (max-height: 568px) {
    body {
        height: 100vh;
    }

    .header_text {
        font-size: 20px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 10px 18px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
    body {
        height: 90vh;
    }

    .header_text {
        font-size: 28px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 15px 25px;
        font-size: 14px;
    }
}
/*
@media only screen and (max-width: 390px) and (orientation: landscape){
    
}

*/
